<div class="row">
  <div class="col-md-9 mt-2">
    <div class="d-flex align-items-center justify-content-start">
      <i class="bi bi-truck font-weight-600 font-32"></i>
      &nbsp;
      <p class="m-0 font-weight-600">Vehicle DI - NexNovaa</p>
    </div>
  </div>
  <div class="col-md-3 mt-3">
    <div class="d-flex align-items-center justify-content-evenly">
      <input
        type="text"
        class="bi bi-search"
        placeholder="search"
        id="search"
      />
      <i class="bi bi-bell"></i>
      <p class="m-0">AC</p>
    </div>
  </div>
</div>
