<div class="mt-3">
    <div class="row mb-2">
        @for(card of summaryCards; track $index){
        <div class="col-md-3">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h5>{{card.title}}</h5>
                    <h3>{{card.value}}</h3>
                    <p [ngClass]="{'text-success': card.change >= 0, 'text-danger': card.change < 0}">
                        {{card.change >= 0 ? '+' : ''}}{{card.change}}% from last month
                    </p>
                </div>
            </div>
        </div>
        }
    </div>
    <div class="row">
        <div class="col-md-8 pe-0">
            <div class="border rounded p-3 bg-white">
                <app-calendar></app-calendar>
            </div>
        </div>
        <div class="col-md-4">
            <div class="border rounded py-3 bg-white">
                <h5 class="ps-3">Recent Activity</h5>
                <div class="h-63vh overflow-y-auto">
                    @for(item of recentActivity; track $index; let i=$index; let lastIndex = $last) {
                    <div class="px-3 py-2 height-auto {{lastIndex ? '' : 'mb-2'}}">
                        <div class="row p-0">
                            <div class="col-4 pe-0 align-items-center d-flex justify-content-center">
                                <span class=" active-nav text-primary-emphasis border-round p-3">
                                    <i class="bi bi-clock"></i>
                                </span>
                            </div>
                            <div class="col-8">
                                <span class="badge rounded-pill text-bg-warning">{{item.type}}</span>
                                <span class="ms-2">{{ calculateTimeAgo(item.timestamp)| async }}</span>
                                <br>
                                <p>{{item.description}}</p>
                            </div>
                        </div>
                    </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>